{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-3">
                {{ include('home/_form.html.twig') }}
            </div>
            <div class="col-md-9 text-light">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>nom</th>
                        <th>prénom</th>
                        <th>date dinscription</th>
                        <th>total points</th>
                        <th>groupe</th>
                        <th>interaction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.nom }}</td>
                            <td>{{ u.prenom }}</td>
                            <td>{{ u.created|date('d-m-Y') }}</td>
                            <td>{{ u.totalPoints }}</td>
                            <td>{{ u.groupe }}</td>
                            <td>
                                <button class="btn btn-primary" onclick="ajouterpoints({{ u.id }})">ajouter points +</button>
                                <button class="btn btn-primary" onclick="retirerpoints({{ u.id }})">retirer points -</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    function ajouterpoints(id) {
                        var quant = prompt('nombre de points à ajouter');
                        var url = '/gestionPoints/' + id +'/' + quant + '/' + 'ajout';
                        alert(url);
                        document.location = url;
                    }

                    function retirerpoints(id) {
                        var quant = prompt('nombre de points à retirer');
                        var uri = '/gestionPoints/' + id +'/' + quant + '/' + 'retrait';
                        alert(uri);
                        document.location = uri;
                    }
                </script>
                <div>
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{#<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/attributionPointsUser/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/attributionPointsUser/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>#}
{% endblock %}
